<div class="container">
	<div class="top">
		<h1 id="title" class="hidden">
			<span id="logo">PubCrawl</span>
		</h1>
	</div>
	<div class="login-box animated rotateInUpLeft">
		<div class="box-header">
			<h3>Login</h3>
		</div>
		<form>
			<label for="Email">Email
				<span class='req'>*</span>
			</label>
			<br/>
			<input type="text" name="email" id="email" required autocomplete="off" />
			<br/>
			<label for="password">Password
				<span class='req'>*</span>
			</label>
			<br/>
			<input type="password" name="password" id="password" required autocomplete="off" />
			<br/>
			<button type="submit" id="signin">
				<a href="#"></a>Sign In</button>
			<br/>
			<h4>Not a crawler yet? </h4>
			<a href="/sign-up" onclick="preventDefault();">
				<p class="medium">Sign Up!</p>
			</a>
		</form>
	</div>
</div>