<div class="container">
	<div class="top">
		<h1 id="title" class="hidden">
			<span id="logo">PubCrawl</span>
		</h1>
	</div>

	<div class="panel panel-info animated rotateInUpLeft">
<!-- Default panel contents -->
  		<div class="panel-heading">
			  <h3>Add Some Pubs to Your Crawl!</h3>
		</div>
  		<div class="panel-body">
    <!-- below id="pac-input" is important -->
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                    <!-- below id=="googleMap" is important -->
            <div id="googleMap" style='height:450px; width: 100%' class='col-md-offset-2'></div>>
  		</div>

  <!-- Table -->
  <table class="table" id="crawlList">
    <tr>
                        <th>Pub Name</th>
                        <th>Pub Address</th>
                    </tr>
  </table>
	</div>
</div>