{{!-- Main Pubcrawl Logo --}}
<div class="container">
    <div class="top">
        <h1 id="title" class="hidden">
            <span id="logo">PubCrawl</span>
        </h1>
    </div>

    <div id="crawl-info"></div>
</div>

{{!-- <script>  
    axios({
        headers: {"Authorization": "Bearer " + window.localStorage.getItem("token")},
        url: "api/crawls",
        method: "GET"
    })
        .then(function (response) {
            var crawls = response.data;
            var ul = $('<ul class="list-group">');

            console.log(crawls);
            for (var i = 0; i < crawls.length; i++) {
                var li = $('<li class="list-group-item">');
                li.append(`<p>${crawls[i].createdAt}</p>`);
                ul.append(li);
                li.append(`<p>${crawls[i].id}</p>`);
                ul.append(li);
                li.append(`<p>${crawls[i].placesName}</p>`);
                ul.append(li);
            }
            $('#crawl-info').append(ul);
        });
</script> --}}