<div class="container">
    <div class="top">
        <h1 id="title" class="hidden">
            <span id="logo">PubCrawl</span>
        </h1>
    </div>
    <div class="signup-box animated rotateInUpLeft">
        <div class="box-header">
            <h2>Sign Up</h2>
        </div>
        <form action="/" method="post">

            <div class="top-row">

                <label for="firstName">
                    First Name
                    <span class="req">*</span>
                </label>
                <br>
                <input type="text" id = "firstName" required autocomplete="off" />
                <br>
                <label>
                    Last Name
                    <span class="req">*</span>
                </label>
                <br>
                <input type="text" id = 'lastName' required autocomplete="off" />
                <br>
                 <label for="username">
                    Username
                    <span class="req">*</span>
                </label>
                <br>
                <input type="text" id = "username" required autocomplete="off" />
                <br>
                <label>
                    Email Address
                    <span class="req">*</span>
                </label>
                <br>
                <input type="email" id = 'email' required autocomplete="off" />
                <br>
                <label>
                    Set A Password
                    <span class="req">*</span>
                </label>
                <br>
                <input type="password" id = "password" required autocomplete="off" />
                <br>
                <button type="submit" id = 'submit' class="button button-block" />Get Started</button>
        </form>
        <h4>Already a Crawler? </h4>
        <a href="/">
            <p class="medium">Log in!</p>
        </a>
        </div>


    </div>